# Service Authentication Key - Ansible Managed
# Service: {{ service_id }}
# Host: {{ service_host }}
# DO NOT SHARE OR COMMIT TO VERSION CONTROL

SERVICE_ID={{ service_id }}
SERVICE_KEY={{ service_key }}
REDIS_HOST={{ service_auth_redis_host }}
REDIS_PORT={{ service_auth_redis_port }}
AUTH_TIMESTAMP_WINDOW={{ service_auth_timestamp_window }}
