# AutoBot - AI-Powered Automation Platform
# Copyright (c) 2025 mrveiss
# Author: mrveiss
# Backend Environment Configuration

# Server
HOST={{ backend_host }}
PORT={{ backend_port }}

# Redis
REDIS_HOST={{ backend_redis_host }}
REDIS_PORT={{ backend_redis_port }}
{% if backend_redis_password | length > 0 %}
REDIS_PASSWORD={{ backend_redis_password }}
{% endif %}

# Security
SECRET_KEY={{ backend_secret_key }}
CORS_ORIGINS={{ backend_cors_origins }}

# Logging
LOG_LEVEL=INFO
