# AutoBot - Author Name Mapping
# Copyright (c) 2025 mrveiss
#
# Canonical author: mrveiss <martins.veiss@gmail.com>
# See: https://git-scm.com/docs/gitmailmap

mrveiss <martins.veiss@gmail.com>
# Placeholder identity from a misconfigured git user.email (owner-confirmed)
mrveiss <martins.veiss@gmail.com> t <t@t>
