# AutoBot - AI-Powered Automation Platform
# Copyright (c) 2025 mrveiss
# Author: mrveiss
---
- name: reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: restart ollama
  ansible.builtin.systemd:
    name: ollama
    state: restarted
