---
# Common role variables

common_packages:
  - python3
  - python3-pip
  - python3-venv
  - git
  - curl
  - wget
  - vim
  - htop
  - net-tools
  - ufw
  - rsync
  - ca-certificates
  - gnupg
  - lsb-release

autobot_user: autobot
autobot_home: /home/autobot

autobot_directories:
  - "{{ autobot_home }}/autobot-vue"
  - "{{ autobot_home }}/backend"
  - "{{ autobot_home }}/logs"
  - "{{ autobot_home }}/data"
  - "{{ autobot_home }}/config"
  - "{{ autobot_home }}/scripts"
  - "/var/log/autobot"
