# AutoBot - AI-Powered Automation Platform
# Copyright (c) 2025 mrveiss
# Author: mrveiss
#
# Ansible Monitoring Role - Grafana Installation
---

- name: Add Grafana APT key
  ansible.builtin.apt_key:
    url: https://apt.grafana.com/gpg.key
    state: present
  when: ansible_os_family == "Debian"

- name: Add Grafana repository
  ansible.builtin.apt_repository:
    repo: "deb https://apt.grafana.com stable main"
    state: present
    filename: grafana
  when: ansible_os_family == "Debian"

- name: Install Grafana
  ansible.builtin.apt:
    name: grafana
    state: present
    update_cache: true
  when: ansible_os_family == "Debian"

- name: Configure Grafana
  ansible.builtin.template:
    src: grafana.ini.j2
    dest: /etc/grafana/grafana.ini
    owner: root
    group: grafana
    mode: "0640"
  notify: Restart grafana

- name: Create Grafana provisioning directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: grafana
    mode: "0755"
  loop:
    - /etc/grafana/provisioning/datasources
    - /etc/grafana/provisioning/dashboards

- name: Configure Prometheus datasource
  ansible.builtin.template:
    src: grafana-datasource.yml.j2
    dest: /etc/grafana/provisioning/datasources/prometheus.yml
    owner: root
    group: grafana
    mode: "0640"
  notify: Restart grafana

- name: Configure dashboard provisioning
  ansible.builtin.template:
    src: grafana-dashboards.yml.j2
    dest: /etc/grafana/provisioning/dashboards/default.yml
    owner: root
    group: grafana
    mode: "0640"
  notify: Restart grafana

- name: Enable and start Grafana
  ansible.builtin.systemd:
    name: grafana-server
    state: started
    enabled: true
