# AutoBot - AI-Powered Automation Platform
# Copyright (c) 2025 mrveiss
# Author: mrveiss
# NPU Worker Environment

# Server
NPU_HOST={{ npu_host }}
NPU_PORT={{ npu_port }}

# Device
NPU_DEVICE={{ npu_device }}
NPU_MODELS_DIR={{ npu_models_dir }}

# Redis
REDIS_HOST={{ npu_redis_host }}
REDIS_PORT={{ npu_redis_port }}
{% if npu_redis_password | length > 0 %}
REDIS_PASSWORD={{ npu_redis_password }}
{% endif %}
